body{
background-color: rgb(240, 240, 240);
}



.cards{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
    top: 100px;
    height: 415px;
    width: 1263px;
    

    /* background-color: aliceblue; */
    /* border-color: #000000; */
}
.box{
    border: 5px solid rgba(104, 103, 103, 0.062);
    padding: 10px 0px 15px;
    border-radius: 22px;
    width: 23%;
    height: 290px;
    background-color: rgb(255, 255, 255);
}
.box:hover{
    border: 2px solid black;
    box-shadow: 2px 2px 22px black;
    padding: 13px 0px 25px;
    width: 23%;
    height: 290px;
    background-color: rgb(224, 255, 255);
}

h1{
    left: -20px;
    margin: 20px 36px 0px;
}
p{
    left: -20px;
    margin: 20px 36px 0px;
}
.sub{
    background-color: rgb(241, 235, 235);
    border-radius: 20px ;
    margin-left: 29px;
    width: 80%;
    height: 60px;
}


h3{
    left: -20px;
    color: rgb(35, 35, 35);
    margin: 35px 47px 0px;
}
p{
    margin: 10px 47px 0px;
}
.img{
    margin: 10px 47px 0px;
    height: 62px;
    width: 58px;
}
.subs{
    margin-top: -28px;
}